@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background text-slate-100 antialiased font-sans selection:bg-brand-violet/30 selection:text-brand-cyanLight;
    overflow-x: hidden;
  }
}

/* Custom scrollbars */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: #090a0f;
}
::-webkit-scrollbar-thumb {
  background: #1f2433;
  border-radius: 9999px;
}
::-webkit-scrollbar-thumb:hover {
  background: #2c3347;
}